/* Add these new styles at the beginning of the file */
.hero-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.page-title {
    font-size: 90px;
    color: #333;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%vw;
    padding: 0px 0;
    background-color: #f0f0f0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1020px; /* (200px * 5) + (4px * 4) */
    width: 100%;
}

.grid-cards-slide-columns {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content);
  align-content: center;
}

.pos-2 { 
  grid-area: 1 / 3; 
  width:400px;
  aspect-ratio: 2 / 3;
} 

.card {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

@media (max-aspect-ratio: 16/9) {
  .grid-3d {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    aspect-ratio: 16/9;
  }
}

.grid-3d img {
  width:200px;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    width: 100%;
}

.faq-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.faq-item p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}