/* Data Text Reveal */
[data-animate="shutter-word"] {
  overflow: hidden;
}

[data-animate="shutter-word"] .word {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

[data-scroll-text-reveal] .split-line {
  display: block;
  overflow: hidden;
}

[data-scroll-text-reveal] .word {
  display: inline-block;
  position: relative;
}

[data-scroll-text-reveal] .char {
  display: inline-block;
}

[data-scroll-text-reveal][data-splitting="words"] .word {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

[data-scroll-text-reveal][data-animate="slide"] .word {
  will-change: transform;
  line-height: inherit;
}

/* Fix wrapper heights */
[data-scroll-text-reveal][data-splitting="words"] > div {
  line-height: inherit;
  vertical-align: top;
}

[data-scroll-text-reveal][data-splitting="words"] > div > div {
  line-height: inherit;
  vertical-align: top;
}

[data-scroll-text-reveal][data-splitting="lines"] {
  overflow: visible;
}

[data-scroll-text-reveal][data-animate="lines-up"] div {
  overflow: hidden;
}

[data-scroll-text-reveal][data-animate="lines-up"] p {
  display: block;
  margin: 0;
  transform-origin: center center;
  will-change: transform;
}

[data-scroll-text-reveal][data-splitting="lines"] .line {
  display: block;
  position: relative;
  overflow: visible;
}

[data-scroll-text-reveal] .whitespace {
  display: inline-block;
  width: 0.25em;
}

/* Data Parallax */
[data-parallax] {
  position: relative;
  overflow: hidden;
}

[data-image-parallax] img {
  transform: scale(1.3);
}

[data-video-parallax] video {
  will-change: transform;
  backface-visibility: hidden;
}

